<!DOCTYPE html>
<html>

<head>

    <title>FabInventory</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>

<!-- Top Header -->

<div class="top-header">

    <div class="logo">
        FabInventory
    </div>

    <div class="company-info">
        ABC Electronics |
        Bangalore |
        Radhika
    </div>

</div>


<!-- Navigation -->

<div class="navbar">

    <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
    <a href="{{ url_for('main.inventory') }}">Master Inventory</a>
    <a href="#">Build Planner</a>
    <a href="#">Login</a>

</div>


<!-- Page Content -->

<div class="container">

{% block content %}
{% endblock %}

</div>


</body>
</html>